<div>
    <h1>
        {{ .Title }}
    </h1>
    <h2>
        {{ .Description }}
    </h2>
    <article id="content">
        {{ $contentBundle := .Site.GetPage "/about_me/about_me"}}

        <p>
            {{ with $contentBundle.GetPage "intro.md" }}
                {{ .Content }}
            {{ end }}
        </p>
        <p>
            {{ with $contentBundle.GetPage "p1.md" }}
                {{ .Content }}
            {{ end }}
        </p>
        <p>
            {{ with $contentBundle.GetPage "p2.md" }}
                {{ .Content }}
            {{ end }}
        </p>

        {{ with $contentBundle.Resources.GetMatch "marilu.jpg"}}
            <img src="data:{{ .MediaType }};base64,{{ .Content | base64Encode }}">
        {{ end }}

        <p>
            {{ with $contentBundle.GetPage "p3.md" }}
                {{ .Content }}
            {{ end }}
        </p>
        <p>
            {{ with $contentBundle.GetPage "conclusion.md" }}
                {{ .Content }}
            {{ end }}
        </p>
    </article>
</div>