{{ $testimonialSlices := split .RawContent "HUPAT-. " }}

{{ range $testimonialSlices }}
{{ $text := printf "“%s”" (trim . "\n") }}
<li class="testimonial" style="opacity:{{ $.Page.Params.initialOpacity }}">
    <header class="testimonial__header">
        <h1 class="testimonial__header__title">
            {{ markdownify (trim $text "\n") }}
        </h1>
    </header>

    <main class="testimonial__body">
        {{ $.Params.author }}
    </main>

    <footer class="testimonial__footer">
        From 
        {{ if (and $.Params.city $.Params.country)}}
            {{ $.Params.city }}, {{ $.Params.country }}
        {{ else }}
            {{ $.Params.country }}
        {{ end }}
         - 
        <a href="testimonials/#{{ anchorize $.Params.author }}" class="card__header__link ">
            <em>See full testimonial</em>
        </a>
    </footer>
</li>
{{ end }}