.hero {
	background-size: 50%;
	background-position: 100% -10%;
}

@media only screen and (max-width: 1024px) {
	.hero {
		background-size: 300px;
		background-position: center 10%;
    }
}

@media only screen and (max-width: 576px) {
    .hero {
		background-position: center 0%;
	}
}