<li class="menu__items__item onhoverlink" aria-label="Home" style="
    flex-basis: 100%;
">
    <a class="onhoverlink"
        alt="" role="menuitem">
        On Hover link
    </a>
    <ul class="menu__items menu_hover_drop" aria-label="menu">
        {{ $current := . }}
        {{ range .Site.Menus.about.ByWeight }}
        <li class="menu__items__item" aria-label="{{ .Name }}">
            <a href="{{ .URL }}" class="menu__items__item__link {{ if $current.IsMenuCurrent " about" . }}active{{ end
                }}" alt="{{ .Name }}" role="menuitem">
                {{ .Name }}
            </a>
        </li>
        {{ end }}
    </ul>
</li>