<!-- Language selection - display the language that is NOT currently being used -->
<!-- {{ if eq (.Scratch.Get "caller") "menu" }} 
    {{ $liClass := "menu__items__item" }}
    {{ $aClass := "menu__items__item__link"}}
{{ else }} 
    {{ $liClass := "hamburger__items__item" }}
    {{ $aClass := "hamburger__items__item__link"}}
{{ end }}}} -->

<!-- Scratch variables work, but I think there's got to be a better way. -->
{{ $liClass := (.Scratch.Get "liClass") }}
{{ $aClass := (.Scratch.Get "aClass") }}

{{ range .Translations }} 
{{ $lang := (lower (default .Lang .Site.Language.LanguageName))}}
{{ if eq $.Site.Language.LanguageName "English" }} 
<li class="{{ $liClass }}" aria-label="{{ T $lang }}">
    <a class="{{ $aClass }}" href="{{ .Permalink }}">{{ T $lang }}</a> 
</li>
{{ end }}
{{ if eq $.Site.Language.LanguageName "Espanol" }}
<li class="{{ $liClass }}" aria-label="{{ T $lang }}">
    <a class="{{ $aClass }}" href="{{ .Permalink }}">{{ T $lang }}</a>
</li>
{{ end }}            
{{ end }}