{{/* Language selection - display the language that is NOT currently being used */}}

{{/* Scratch variables work, but I think there's got to be a better way. */}}
{{ $liClass := (.Scratch.Get "liClass") }}
{{ $aClass := (.Scratch.Get "aClass") }}

{{/*
{{ if $.Site.IsServer }}
    The language is: {{ $.Site.Language.LanguageName }}
    {{/* The range of translation: {{count .Translations}}
{{ end }}
*/}}

{{ if $.Translations }}
    {{ range $.Translations }}
        {{ $lang := (lower (default .Lang .Site.Language.LanguageName))}}
            <li class="{{ $liClass }}" aria-label="{{ T $lang }}">
                <a class="{{ $aClass }}" href="{{ .Permalink }}">{{ T $lang }}
                    <img src="{{ $.Site.BaseURL }}{{printf "/images/site/"}}{{ $lang }}{{printf " flag.png" }}"
                    title="{{ T $lang }} flag" class="header__language__icon">
                </a>
            </li>
    {{ end }}
{{ end }}

{{/* We need a special case for questions/preguntas. .Translations returns the links to different translated links to
this same site. However, since we want questions to show in english, and preguntas to show in spanish, this does not
seem possible. */}}
{{/* {{ else }}
{{ if eq $.Site.Language.LanguageName "English" }}
<li class="{{ $liClass }}" aria-label="Espanol">
    <a class="{{ $aClass }}" href="{{ .Permalink }}">{{ T $lang }}</a>
</li>
{{ end }}
{{ end }} */}}