<nav class="menu" aria-label="menu">
    <!-- Entries list. -->
    <ul class="menu__items" aria-label="menu" style="flex-wrap:wrap">
        {{ $current := . }}
        {{ range .Site.Menus.main.ByWeight }}
            <li class="menu__items__item" aria-label="{{ .Name }}">
                <a href="{{ .URL }}" class="menu__items__item__link {{ if $current.IsMenuCurrent "main" . }}active{{ end }}"
                    alt="{{ .Name }}" role="menuitem">
                    {{ .Name }}
                </a>
            </li>
        {{ end }}
        {{ .Scratch.Set "liClass" "menu__items__item" }}
        {{ .Scratch.Set "aClass" "menu__items__item__link" }}
        {{ partial "lang-link.html" . }}
        {{ partial "dropdown-menu.html" . }}
    </ul>
</nav>