<section class="section">
    <h1 class="section__title">Testimonios</h1>
    <div class="section__content">
        <p class="testimonial large"
            style="font-style: italic; text-align:center; margin-left:auto; margin-right: auto; width:32em">
            Marilu es la mejor, sus servicious son magicales, me encantan muchisisimo! Gracias wicha ;P
            Mas texto, mas texto, mas y mas y mas texto! Me encantan mucho las terapiasssss
        </p>
        <p class="testimonial small" style="font-weight:500; text-align:center;">
            - Marilulis Zugastinis
        </p>
    </div>
</section>