{{ define "main" }}

<head>
    {{ if $.Site.Params.form.backupForm }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {{ end }}
</head>
<main class="contact">
    <h1 class="contact__title">{{ .Title }}</h1>
    <p class="contact__content">{{ .Description }}</p>

    <main class="post__body" style="margin-bottom: 3rem;">

        <p>{{ T "whenAreTherapyGiven" }}</p>

    </main>

    {{ if $.Site.Params.form.backupForm }}
    {{ if $.Site.Params.form.netlify }}
    <form name="contact" method="POST" data-netlify="true" class="contact__form" id="contactForm">
        {{ else }}
        <form action="{{ $.Site.Params.form.action }}" method="{{ lower $.Site.Params.form.method }}"
            class="contact__form" id="contactForm">
            {{ end }}

            <!-- Name -->
            <div class="contact__field contact__field--name">
                <label for="{{ $.Site.Params.form.inputNameName }}">{{ T "inputNameLabel" }}</label>
                <input type="text" name="{{ $.Site.Params.form.inputNameName }}"
                    placeholder={{ T "inputNamePlaceholder" }}
                    class="contact__form__input contact__form__name" id="{{ $.Site.Params.form.inputNameName }}"
                    aria-labelledby="{{ $.Site.Params.form.inputNameName }}" required>
            </div>

            <!-- Phone Number -->
            <div class="contact__field contact__field--tel">
                <label for="{{ $.Site.Params.form.inputPhoneName }}">{{ T "inputPhoneLabel" }}</label>
                <input type="tel" name="{{ $.Site.Params.form.inputPhoneName }}"
                    placeholder={{ T "inputPhonePlaceholder" }}
                    class="contact__form__input contact__form__tel" id="{{ $.Site.Params.form.inputPhoneName }}"
                    aria-labelledby="{{ $.Site.Params.form.InputPhoneName }}" required>
            </div>

            <!-- Email -->
            <div class="contact__field contact__field--email">
                <label for="{{ $.Site.Params.form.inputEmailName }}">{{ T "inputEmailLabel" }}</label>
                <input type="email" name="{{ $.Site.Params.form.inputEmailName }}"
                    placeholder={{ T "inputEmailPlaceholder" }}
                    class="contact__form__input contact__form__email" id="{{ $.Site.Params.form.inputEmailName }}"
                    aria-labelledby="{{ $.Site.Params.form.InputEmailName }}" required>
            </div>

            <!-- Message -->
            <div class="contact__field contact__field--msg">
                <label for="{{ $.Site.Params.form.inputMsgName }}">{{ T "inputMsgLabel" }}</label>
                <textarea name="{{ $.Site.Params.form.inputMsgName }}" id="{{ $.Site.Params.form.inputMsgName }}"
                    form="contactForm" maxlength="{{ $.Site.Params.form.inputMsgLength }}"
                    id="{{ $.Site.Params.form.inputMsgName }}" arial-labelledby="{{ $.Site.Params.form.InputMsgName }}"
                    required></textarea>
            </div>

            <!-- Recaptcha check -->
            <div class="g-recaptcha contact__field--captcha" data-sitekey="6Le0hRkaAAAAAK7NdHtvDLgLlugbrFTF4TSikR60">
            </div>

            <!-- Submit -->
            <div class="contact__field contact__field--submit">
                <button type="submit" class="ripple-btn submit" onclick="cleanForm"
                    aria-label="{{ $.Site.Params.form.inputSubmitValue }}">
                    {{ T "inputSubmitValue" }}
                </button>
            </div>

        </form>
        {{ else }}
        {{ partial "schedule-form.html" . }}
        {{ end }}
</main>
{{ end }}